
body { 
    font-family: Didot;
}

#heading {
    color: cornflowerblue;
    background: lightyellow;
}

#heading_2 {
    color: cornflowerblue;
}

#synopsis {
    color: black;
}

.small-img {
    width: 550px;
    height: auto;
    float: left;
}

.statistics {
    font-size: 16;
}

#summary {
    float: left;
}

.clearfix {
    clear: both;
}

.small-img-2 {
    width: 550px;
    height: auto;
    margin-right: 30px;
    float: left;
} 