
body { 
    font-family: Didot;
}

#heading {
    color: #7852a9;
    background: #7f1ba63f;
}

#heading_2 {
    color: #7852a9;
}

#synopsis {
    color: black;
}

.small-img {
    width: 550px;
    height: auto;
    float: left;
}

.small-heading {
    font-size: 18;
    font-weight: bold;
}

.statistics {
    font-size: 16;
}

#summary {
    float: left;
}

.clearfix {
    clear: both;
}

.small-img-2 {
    width: 550px;
    height: auto;
    margin-right: 30px;
    float: left;
} 